*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.363);
    align-items: center;
}
 
.container{
    width: 30em;
    background-color: rgba(255, 255, 255, 0.89);
    border-radius: 1em;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1em;
}
 
.subtitle{
    margin-bottom: 1.8em;
}

.imagem-perfil{
    padding: 2.5em 0;
    background-color:#ff66a3;
    border-radius: 10px;
}
 
.imagem-perfil img{
    width: 9em;
    height: 9em;
    border-radius: 50%;
    object-fit: cover;
}
 
.infos {
    text-align: center;
    display: inline-block;
    position: relative;
    color: black;
    width: 100%;
    background-color: #ffcce0;
    font-size: 1em;
    padding: 1em 3em;
    border-radius: 5em;
    margin-bottom: 0.5em;
}

.content{
    color: #565656;
    padding: 2.2em;
}
 
.name{
    font-size: 1.5em;
    text-transform: uppercase;
}
 
.links{
    display: flex;
    justify-content: center;
    margin: 1.5em 0;
}
 
a{
    text-decoration: none;
    color: #737373;
    transition: all 0.3s;
    font-size: 2.2em;
    margin-right: 1.2em;
}
 
a:last-child{
    margin: 0;
}
 
.insta:hover{
    color:palevioletred;
    transform: scale(2,2);
}
 
.git:hover{
    color:black;
    transform: scale(2,2);
}
 
.linkedin:hover{
    color:lightblue;
    transform: scale(2,2);
}
 
 